    <footer class="nav navbar-fixed-bottom">
      <div class="col-sm-6 col-sm-offset-3">&copy; 2016 Mark Chipp</div>
      <div>
        <a href="https://www.github.com/therealmarkchipp"><img src="/images/GitHub-Mark-32px.png" /><a/>
        <a href="https://ca.linkedin.com/in/markchipp"><img src="/images/In-Black-34px-R.png" /><a/>
        <a href="https://twitter.com/MarkChipp"><img src="/images/Black-Twitter-32.png" /><a/>
      </div>
    </footer>
     <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
