<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Mark Chipp - Junior Programmer"></meta>

    <!--stylesheets-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-mycolour navbar-fixed-top">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Mark Chipp</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" type="button" data-target="#navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/about">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </div>
    </nav>
