<!--
* File: about.ejs
* Author: Mark Chipp
* Web site: Portfolio
* Description: Express JS HTML content for About Me page
-->

<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
        <p>
          My name is Mark Chipp. I'm a junior programmer in the Simcoe County
          region of Ontario. My focuses are in object oriented programming,
          MEAN stack development and information security. I passionately
          love programming and happily lose quite a few hours of sleep to it
          on a regular basis.
        </p>
        <p>
          I find a good challenge stimulating, and I think that's a big part
          of what draws me to computer science. I've spent a few years working
          on the hardware and tech support side of the industry and I'm looking
          forward to a future in programming and blue team security.
        </p>
    </section>
  </div>
<%- include partials/footer.ejs %>
