<!--
* File: about.ejs
* Author: Mark Chipp
* Web site: Portfolio
* Description: Express JS HTML content for About Me page
-->

<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
        <p>
          My name is Mark Chipp. I'm a junior programmer in the Simcoe County
          region of Ontario. My focuses are in object oriented programming,
          MEAN stack development and information security.
        </p>
    </section>
  </div>
<%- include partials/footer.ejs %>
