<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
      Something went wrong... You should go back and try that again.
    </section>
  </div>
<%- include partials/footer.ejs %>
