<!--
* File: contact-error.ejs
* Author: Mark Chipp
* Web site: Portfolio
* Description: Express JS HTML content for Contact Me Error page
-->

<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
      Something went wrong... You should go back and try that again.
    </section>
  </div>
<%- include partials/footer.ejs %>
