<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
      <form action="/contact" name="contactus" id="contactus" method="post">
      <div class="form-group">
        <label class="control-label col-sm-1">Name:</label>
        <input id="name" name="name" required placeholder="Name" maxlength="50" />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-1">E-mail:</label>
        <input id="email" name="email" required placeholder="yourname@yourdomain.ca" maxlength="50" />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-1">Inquiry:</label>
        <textarea id="message" name="message" required placeholder="Type your questions here"></textarea>
      </div>
      <!--<div class="g-recaptcha col-sm-offset-1" data-sitekey="6LdYAAkUAAAAAAJmVNaDhI7IvHlZzdR6CorzyWQz"></div>-->
      <div class="col-sm-offset-1">
          <input name="submit" type="submit" value="Send" id="submit" />
      </div>
    </form>
    </section>
  </div>
<%- include partials/footer.ejs %>
