<!--
* File: index.ejs
* Author: Mark Chipp
* Web site: Portfolio
* Description: Express JS HTML content for main Index page
-->

<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox-main">
        <p>
          Hello, and thanks for taking a moment to view my portfolio!
          I'm a second year computer programmer student at Georgian College.
          Feel free to learn more about me, check out my projects and services.
        </p><br /><br /><br />
        <div id="centred">
          <i class="fa fa-gg fa-5x" aria-hidden="true"></i>
        </div>
    </section>
  </div>
<%- include partials/footer.ejs %>
