<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
        <p>Hello, and thanks for taking a moment to view my portfolio! I'm a second year  computer programmer student at Georgian College.</p>
    </section>
    <!--<section id="twitter-box">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="250" href="https://twitter.com/MarkChipp">Tweets by MarkChipp</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>-->
  </div>
<%- include partials/footer.ejs %>
