<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <div id="textbox">
        <p>Hello, and thanks for taking a moment to view my portfolio! I'm a second year  computer programmer student at Georgian College.</p>
    </div>
  </div>
  <!--<a class="twitter-timeline" data-lang="en" data-width="220" data-height="250" href="https://twitter.com/MarkChipp">Tweets by MarkChipp</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<%- include partials/footer.ejs %>
