<!--
* File: projects.ejs
* Author: Mark Chipp
* Web site: Portfolio
* Description: Express JS HTML content for Projects page
-->

<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <div id="textbox">
        <section id="s1">
        	<h1 id="sections"><i class="fa fa-code fa-2x" aria-hidden="true"></i></h1>
			<h3><a href="https://github.com/mchipp/COMP1004-F2016-Assignment1">Sales Bonus<br />(C#)</a></h3>
			<p>This application takes in an employees hours worked and calculates their bonus of monthly sales,
			as a percentage based on their hours vs business hours for the month.</p>
		</section>
		<section id="s2">
        	<h1 id="sections"><i class="fa fa-hand-paper-o fa-2x" aria-hidden="true"></i><i class="fa fa-hand-scissors-o fa-2x" aria-hidden="true"></i></h1>
			<h3><a href="https://github.com/mchipp/comp2106-lab2">Rock Paper Scissors<br />(Node.js)</a></h3>
			<p>This is a super simple application that plays a very basic game of rock, paper scissors.
			Written in Node.js!</p>
		</section>
		<section id="s3">
        	<h1 id="sections"><i class="fa fa-coffee fa-2x" aria-hidden="true"></i></h1>
			<h3><a href="https://github.com/mchipp/COMP1001-16F-employee">Employee Tracking<br />(Java)</a></h3>
			<p>A text based, menu driven system, to add and search for employees. In this program, employees are
			instantiated as hourly, salary, or commission objects. Support for searching for employees by first
			and last name or by employee ID. There is also support for searching products and optionally retrieving
			manufactrer information.</p>
		</section>
    </section>
  </div>
<%- include partials/footer.ejs %>
