<!--
* File: services.ejs
* Author: Mark Chipp
* Web site: Portfolio
* Description: Express JS HTML content for Services page
-->

<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
        <ul class="list-group">
        	<li class="list-group-item btn-custom">Java Development</li>
        	<li class="list-group-item btn-default">Mean Stack Development</li>
        	<li class="list-group-item btn-custom">SQL dB Development</li>
        	<li class="list-group-item btn-default">Systems Analysis</li>
        	<li class="list-group-item btn-custom">Project Management</li>
        </ul>
    </section>
  </div>
<%- include partials/footer.ejs %>
