/*
* File: style.css
* Author: Mark Chipp
* Web site: Portfolio
* Description: Custom CSS controls for site customizatio above and beyond Bootstrap
*/

/***MAIN BODY ATTRIBUTES***/
body {
  height: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
}

/***FOOTER ATTRIBUTES***/
footer {
  color: #FFFFFF;
  background-color: #686FBF;
  font-size: 12px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

/***MAIN CONTAINER LAYOUT***/
#container {
  width: 80%;
  margin: 0 auto;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

/***SECTIONS***/
#textbox{
	background-color: #F3ECFF;
  border-radius: 5px;
	width: 100%;
	margin: 0 auto;
  height: 400px;
  padding: 15px;
}

#textbox-main {
	background-color: #F3ECFF;
  border-radius: 5px;
	width: 77%;
	margin: 0 auto;
  height: 300px;
  padding: 15px;
  font-family: "Helvetica", "sans-serif";
  font-size: 18px;
  float: left;
}

#twitter-box {
  width: 20%;
  margin-left: 3%;
  float: left;
}
/***END OF SECTIONS***/

/***CUSTOM NAVBAR SETTINGS***/
.navbar-mycolour {
  background-color: #454A7F;
  color: #FFFFFF;
  border-radius: 0;
}

.navbar-mycolour .navbar-nav > li > a {
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Cormorant Garamond', serif;
}

.navbar-mycolour .navbar-nav > li > a:hover {
  background-color: #232540;
  color: #FFFFFF;
}

.navbar-mycolour .navbar-brand {
  background-color: #454A7F;
  color: #FFFFFF;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  font-weight: bold;
}

.navbar-mycolour .navbar-nav > li > a.branding:hover {
  background-color: #454A7F;
}

.navbar-mycolour .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
/***END OF NAVBAR SETTINGS***/

/***SOCIAL BUTTONS DIV***/
#social a {
  color: black;
}

.btn-custom { 
  background-color: hsl(273, 23%, 78%) !important;
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f2f7", endColorstr="#c8b9d3"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f5f2f7), to(#c8b9d3)); 
  background-image: -moz-linear-gradient(top, #f5f2f7, #c8b9d3); 
  background-image: -ms-linear-gradient(top, #f5f2f7, #c8b9d3); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f2f7), color-stop(100%, #c8b9d3)); 
  background-image: -webkit-linear-gradient(top, #f5f2f7, #c8b9d3); 
  background-image: -o-linear-gradient(top, #f5f2f7, #c8b9d3); 
  background-image: linear-gradient(#f5f2f7, #c8b9d3); 
  border-color: #c8b9d3 #c8b9d3 hsl(273, 23%, 73.5%); 
  color: #333 !important; 
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29); 
z-indexwebkit-font-smoothing: antialiased; 
}